autoregen.sh
libbml.pc
configure
config.status
config.log
config.guess
config.sub
autom4te.cache
aclocal.m4
stamp-h.in
INSTALL
install.sh
missing
Makefile
Makefile.in
Make.rules
testmachine
testmachine.log
testmachine.failtmp
testmachine.fails
stamp*
*.prj
*.pws
compile
config.h
config.h.in
depcomp
libtool
ltmain.sh
*.cache
